PORT=5011
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/ticketing?schema=public"
JWT_SECRET=""
JWT_REFRESH_SECRET=""
PLATFORM_URL="http://localhost:5000"
PLATFORM_INTERNAL_API_KEY=""
MIDTRANS_MERCHANT_ID="G092481675"
MIDTRANS_SERVER_KEY="SB-Mid-server-YOUR_SERVER_KEY"
MIDTRANS_CLIENT_KEY="SB-Mid-client-YOUR_CLIENT_KEY"
MIDTRANS_IS_PRODUCTION="false"
